In [1]:
import pandas as pd

In [2]:
df_scores = pd.read_parquet('../../../data/processed/scores.parquet')

In [3]:
df_scores.shape

(42719, 49)

In [4]:
df_scores.columns

Index(['REF_PERSONNE', 'total_contracts', 'active_contracts',
       'product_variety', 'branch_variety', 'total_premiums_paid',
       'avg_premium_per_contract', 'max_premium', 'total_capital_assured',
       'avg_capital_per_contract', 'paid_ratio', 'total_paid_contracts',
       'total_unpaid_contracts', 'expired_contracts', 'canceled_contracts',
       'active_ratio', 'premium_per_contract_ratio', 'capital_premium_ratio',
       'product_density', 'loyalty_score', 'financial_score', 'payment_score',
       'NOM_PRENOM', 'DATE_NAISSANCE', 'LIEU_NAISSANCE', 'CODE_SEXE',
       'SITUATION_FAMILIALE', 'NUM_PIECE_IDENTITE', 'LIB_SECTEUR_ACTIVITE',
       'LIB_PROFESSION', 'VILLE', 'LIB_GOUVERNORAT', 'VILLE_GOUVERNORAT',
       'AGE', 'id_length', 'SECTEUR_ACTIVITE_GROUP', 'PROFESSION_GROUP',
       'final_client_score', 'client_segment', 'risk_profile', 'client_type',
       'RAISON_SOCIALE', 'MATRICULE_FISCALE', 'LIB_ACTIVITE', 'SECTEUR_GROUP',
       'ACTIVITE_GROUP', 'RISK_PROFILE', 'size_adjustment', 'risk_adjustment'],
      dtype='object')

In [6]:
df_scores.head()

,REF_PERSONNE,total_contracts,active_contracts,product_variety,branch_variety,total_premiums_paid,avg_premium_per_contract,max_premium,total_capital_assured,avg_capital_per_contract,...,risk_profile,client_type,RAISON_SOCIALE,MATRICULE_FISCALE,LIB_ACTIVITE,SECTEUR_GROUP,ACTIVITE_GROUP,RISK_PROFILE,size_adjustment,risk_adjustment
0,715,4.0,0.0,1.0,1.0,4679.51650,1169.879125,3103.33150,83750.0,20937.50,...,High Risk,individual,None,None,None,None,None,None,NaN,NaN
1,1381,4.0,0.0,2.0,2.0,767.13500,191.783750,572.26000,21500.0,5375.00,...,Medium Risk,individual,None,None,None,None,None,None,NaN,NaN
2,1947,4.0,1.0,2.0,2.0,2995.68482,748.921205,2911.53482,49125.0,12281.25,...,Medium Risk,individual,None,None,None,None,None,None,NaN,NaN
3,2832,5.0,1.0,2.0,2.0,7581.40400,1516.280800,3964.54500,47500.0,9500.00,...,Medium Risk,individual,None,None,None,None,None,None,NaN,NaN
4,3060,4.0,1.0,1.0,1.0,5640.94040,1410.235100,3804.16300,52000.0,13000.00,...,High Risk,individual,None,None,None,None,None,None,NaN,NaN

In [7]:
df_individual_recommendations = pd.read_parquet('../../../data/processed/individual_recommendations.parquet')

In [8]:
df_individual_recommendations.shape

(42065, 13)

In [9]:
df_individual_recommendations.head()

,REF_PERSONNE,NOM_PRENOM,recommended_products,recommendation_count,client_score,client_segment,risk_profile,estimated_budget,AGE,PROFESSION_GROUP,SITUATION_FAMILIALE,SECTEUR_ACTIVITE_GROUP,client_type
0,715,PERSONNE_00001,"[{'confidence': 0.7013774597495528, 'product':...",3,0.459153,Prospect,High Risk,7019.27475,60.0,AUTRES_PROFESSIONS,MARIE,CADRES_SUPERIEURS,individual
1,1381,PERSONNE_00002,"[{'confidence': 0.7688697575034784, 'product':...",2,22.956586,Prospect,Medium Risk,1150.70250,63.0,TRANSPORTS,MARIE,SERVICES,individual
2,1947,PERSONNE_00003,"[{'confidence': 0.7785311071357583, 'product':...",2,26.177036,Prospect,Medium Risk,4493.52723,55.0,COMMERCE_ET_VENTE,MARIE,COMMERCE_ET_VENTE,individual
3,2832,PERSONNE_00004,"[{'confidence': 0.9658079904591532, 'product':...",3,21.935997,Prospect,Medium Risk,11372.10600,51.0,NON_RENSEIGNE,MARIE,SANS_EMPLOI,individual
4,3060,PERSONNE_00005,"[{'confidence': 0.7297888093818327, 'product':...",3,9.929603,Prospect,High Risk,8461.41060,57.0,NON_RENSEIGNE,MARIE,SANS_EMPLOI,individual

In [10]:
df_alerts = pd.read_parquet('../../../data/processed/alerts.parquet')

In [12]:
df_alerts.shape

(31058, 11)

In [11]:
df_alerts.head()

,REF_PERSONNE,alert_type,alert_message,alert_severity,contract_id,product,expiration_date,days_until_expiry,cancellation_date,active_contracts,total_premium
0,19604.0,policy_expiring,Policy 2005301007671 (AUTOMOBILE) expires in -...,High,2.005301e+12,AUTOMOBILE,2006-07-18,-6981.0,NaT,NaN,NaN
1,129553.0,policy_expiring,Policy 2009101000589 (TEMPORAIRE DECES A CAPIT...,High,2.009101e+12,TEMPORAIRE DECES A CAPITAL DECROISSANT LINEAIR...,2025-08-05,-23.0,NaT,NaN,NaN
2,130505.0,policy_expiring,Policy 2009101004357 (TEMPORAIRE DECES A CAPIT...,High,2.009101e+12,TEMPORAIRE DECES A CAPITAL DECROISSANT LINEAIR...,2025-08-14,-14.0,NaT,NaN,NaN
3,130506.0,policy_expiring,Policy 2009101004358 (TEMPORAIRE DECES A CAPIT...,High,2.009101e+12,TEMPORAIRE DECES A CAPITAL DECROISSANT LINEAIR...,2025-08-14,-14.0,NaT,NaN,NaN
4,130506.0,policy_expiring,Policy 2009101004359 (TEMPORAIRE DECES A CAPIT...,High,2.009101e+12,TEMPORAIRE DECES A CAPITAL DECROISSANT LINEAIR...,2025-08-14,-14.0,NaT,NaN,NaN